In [1]:
import pandas as pd

covid_df = pd.read_csv("us-counties.csv")
covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [2]:
covid_df.loc[covid_df["state"]=="Louisiana", "county"] = covid_df.loc[covid_df["state"]=="Louisiana"]["county"] + " Parish"
covid_df[covid_df["state"]=="Louisiana"]

covid_df.loc[~covid_df["county"].str.contains("County|Parish|Area|Municipality|Borough", regex=True), "county"] = covid_df[~covid_df["county"].str.contains("County|Parish|Area|Municipality|Borough", regex=True)]["county"] + " County"

In [3]:
covid_df[covid_df["county"].str.contains("Skagway", regex=True)]

               date                county   state    fips  cases  deaths
634972   2020-10-16  Skagway Municipality  Alaska  2230.0      1     0.0
638217   2020-10-17  Skagway Municipality  Alaska  2230.0      1     0.0
641464   2020-10-18  Skagway Municipality  Alaska  2230.0      1     0.0
644712   2020-10-19  Skagway Municipality  Alaska  2230.0      1     0.0
647957   2020-10-20  Skagway Municipality  Alaska  2230.0      3     0.0
...             ...                   ...     ...     ...    ...     ...
2297857  2022-03-12  Skagway Municipality  Alaska  2230.0    131     0.0
2301110  2022-03-13  Skagway Municipality  Alaska  2230.0    131     0.0
2304363  2022-03-14  Skagway Municipality  Alaska  2230.0    135     0.0
2307615  2022-03-15  Skagway Municipality  Alaska  2230.0    135     0.0
2310868  2022-03-16  Skagway Municipality  Alaska  2230.0    136     0.0

[517 rows x 6 columns]

In [4]:
covid_df["county"] = covid_df["county"].str.replace("Anchorage County", "Anchorage Municipality")

In [5]:
covid_df[covid_df["state"].str.contains("Alaska", regex=True)]

,date,county,state,fips,cases,deaths
1364,2020-03-12,Anchorage Municipality,Alaska,2020.0,1,0.0
1624,2020-03-13,Anchorage Municipality,Alaska,2020.0,1,0.0
1940,2020-03-14,Anchorage Municipality,Alaska,2020.0,1,0.0
2317,2020-03-15,Anchorage Municipality,Alaska,2020.0,1,0.0
2746,2020-03-16,Anchorage Municipality,Alaska,2020.0,1,0.0
...,...,...,...,...,...,...
2310870,2022-03-16,Unknown County,Alaska,NaN,902,1.0
2310871,2022-03-16,Valdez-Cordova Census Area,Alaska,2261.0,2854,16.0
2310872,2022-03-16,Wrangell City and Borough,Alaska,2275.0,449,1.0
2310873,2022-03-16,Yakutat plus Hoonah-Angoon County,Alaska,2998.0,518,5.0
2310874,2022-03-16,Yukon-Koyukuk Census Area,Alaska,2290.0,1393,9.0

In [6]:
covid_df = covid_df[covid_df["county"].str.contains("Unknown")==False]

In [7]:
covid_df[covid_df["county"].str.contains("Unknown County", regex=True)]

Empty DataFrame
Columns: [date, county, state, fips, cases, deaths]
Index: []

In [8]:
covid_df[covid_df["county"].str.contains("City", regex=True)]

               date                county     state     fips    cases   deaths
416      2020-03-01  New York City County  New York      NaN        1      0.0
448      2020-03-02  New York City County  New York      NaN        1      0.0
482      2020-03-03  New York City County  New York      NaN        2      0.0
518      2020-03-04  New York City County  New York      NaN        2      0.0
565      2020-03-05  New York City County  New York      NaN        4      0.0
...             ...                   ...       ...      ...      ...      ...
2312331  2022-03-16    Kansas City County  Missouri      NaN   112118   1266.0
2312546  2022-03-16    Carson City County    Nevada  32510.0    14480    209.0
2312657  2022-03-16  New York City County  New York      NaN  2289696  39994.0
2313732  2022-03-16   Charles City County  Virginia  51036.0     1145     27.0
2313774  2022-03-16     James City County  Virginia  51095.0    14719    116.0

[5733 rows x 6 columns]

In [9]:
covid_df["county"] = covid_df["county"].str.replace("New York City County", "New York County")
covid_df["county"] = covid_df["county"].str.replace("City County", "City")

In [10]:
covid_df["county"] = covid_df["county"].str.replace("city County", "City")

In [11]:
covid_df[covid_df["county"].str.contains("Petersburg", regex=True)]

               date              county     state     fips  cases  deaths
21576    2020-03-30     Petersburg City  Virginia  51730.0      2     0.0
23723    2020-03-31     Petersburg City  Virginia  51730.0      2     0.0
25939    2020-04-01     Petersburg City  Virginia  51730.0      4     0.0
28229    2020-04-02     Petersburg City  Virginia  51730.0      4     0.0
30576    2020-04-03     Petersburg City  Virginia  51730.0      8     0.0
...             ...                 ...       ...      ...    ...     ...
2307298  2022-03-14     Petersburg City  Virginia  51730.0   8279   140.0
2307612  2022-03-15  Petersburg Borough    Alaska   2195.0    685     2.0
2310551  2022-03-15     Petersburg City  Virginia  51730.0   8279   139.0
2310865  2022-03-16  Petersburg Borough    Alaska   2195.0    685     2.0
2313804  2022-03-16     Petersburg City  Virginia  51730.0   8275   139.0

[1427 rows x 6 columns]

In [12]:
us_state_abbrev = {
'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

covid_df['state'] = covid_df['state'].map(us_state_abbrev).fillna(covid_df['state'])
covid_df = covid_df.drop(columns=["fips"])
covid_df.head()

         date            county state  cases  deaths
0  2020-01-21  Snohomish County    WA      1     0.0
1  2020-01-22  Snohomish County    WA      1     0.0
2  2020-01-23  Snohomish County    WA      1     0.0
3  2020-01-24       Cook County    IL      1     0.0
4  2020-01-24  Snohomish County    WA      1     0.0

In [13]:
covid_df["region"] = covid_df["county"] + ", " + covid_df["state"]
covid_df.head()

         date            county state  cases  deaths                region
0  2020-01-21  Snohomish County    WA      1     0.0  Snohomish County, WA
1  2020-01-22  Snohomish County    WA      1     0.0  Snohomish County, WA
2  2020-01-23  Snohomish County    WA      1     0.0  Snohomish County, WA
3  2020-01-24       Cook County    IL      1     0.0       Cook County, IL
4  2020-01-24  Snohomish County    WA      1     0.0  Snohomish County, WA

In [ ]:
covid_df.to_csv("please_let_this_one_work.csv", index=False, header=0)