In [1]:
import pandas as pd

df = pd.read_csv("county_market_tracker.tsv000", sep="\t", header=0)
df.columns

Index(['period_begin', 'period_end', 'period_duration', 'region_type',
       'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region',
       'city', 'state', 'state_code', 'property_type', 'property_type_id',
       'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
       'median_list_price', 'median_list_price_mom', 'median_list_price_yoy',
       'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'months_of_supply', 'months_of_supply_mom',
       'months_of_supply_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'price_drops', 'price_drops_mom',
       'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated'],
      dtype='object')

In [2]:
df.columns[df.isna().any()].tolist()

['city',
 'median_sale_price',
 'median_sale_price_mom',
 'median_sale_price_yoy',
 'median_list_price',
 'median_list_price_mom',
 'median_list_price_yoy',
 'median_ppsf',
 'median_ppsf_mom',
 'median_ppsf_yoy',
 'median_list_ppsf',
 'median_list_ppsf_mom',
 'median_list_ppsf_yoy',
 'homes_sold',
 'homes_sold_mom',
 'homes_sold_yoy',
 'pending_sales',
 'pending_sales_mom',
 'pending_sales_yoy',
 'new_listings',
 'new_listings_mom',
 'new_listings_yoy',
 'inventory',
 'inventory_mom',
 'inventory_yoy',
 'months_of_supply',
 'months_of_supply_mom',
 'months_of_supply_yoy',
 'median_dom',
 'median_dom_mom',
 'median_dom_yoy',
 'avg_sale_to_list',
 'avg_sale_to_list_mom',
 'avg_sale_to_list_yoy',
 'sold_above_list',
 'sold_above_list_mom',
 'sold_above_list_yoy',
 'price_drops',
 'price_drops_mom',
 'price_drops_yoy',
 'off_market_in_two_weeks',
 'off_market_in_two_weeks_mom',
 'off_market_in_two_weeks_yoy',
 'parent_metro_region_metro_code']

In [3]:
df.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2021-12-01,2021-12-31,30,county,5,2840,f,"Rusk County, TX",NaN,Texas,...,NaN,0.416667,0.35,NaN,0.333333,-0.166667,NaN,"Longview, TX",30980.0,2022-02-20 14:26:53
1,2014-09-01,2014-09-30,30,county,5,2220,f,"Noble County, OH",NaN,Ohio,...,0.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,Ohio nonmetropolitan area,NaN,2022-02-20 14:26:53
2,2013-08-01,2013-08-31,30,county,5,3058,f,"Petersburg, VA",NaN,Virginia,...,NaN,NaN,NaN,NaN,0.000000,-0.333333,NaN,"Richmond, VA",40060.0,2022-02-20 14:26:53
3,2016-03-01,2016-03-31,30,county,5,2254,f,"Bryan County, OK",NaN,Oklahoma,...,0.061008,NaN,NaN,NaN,0.083333,0.083333,0.083333,"Durant, OK",20460.0,2022-02-20 14:26:53
4,2017-04-01,2017-04-30,30,county,5,472,f,"Leon County, FL",NaN,Florida,...,0.194406,NaN,NaN,NaN,0.050000,0.006522,0.019697,"Tallahassee, FL",45220.0,2022-02-20 14:26:53

In [4]:
df = df.drop(
    [
        "city", 
        "period_duration", 
        "region_type", 
        "region_type_id", 
        "is_seasonally_adjusted", 
        "last_updated",
        "median_sale_price_mom",
        "median_sale_price_yoy",
        "median_list_price_mom",
        "median_list_price_yoy",
        "median_ppsf_mom",
        "median_ppsf_yoy",
        "median_list_ppsf_mom",
        "median_list_ppsf_yoy",
        "homes_sold_mom",
        "homes_sold_yoy",
        "pending_sales_mom",
        "pending_sales_yoy",
        "new_listings_mom",
        "new_listings_yoy",
        "inventory_mom",
        "inventory_yoy",
        "months_of_supply_mom",
        "months_of_supply_yoy",
        "median_dom_mom",
        "median_dom_yoy",
        "avg_sale_to_list_mom",
        "avg_sale_to_list_yoy",
        "sold_above_list_mom",
        "sold_above_list_yoy",
        "price_drops_mom",
        "price_drops_yoy",
        "off_market_in_two_weeks_mom",
        "off_market_in_two_weeks_yoy",
    ], 
    axis=1
)
df.head()

,period_begin,period_end,table_id,region,state,state_code,property_type,property_type_id,median_sale_price,median_list_price,...,new_listings,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,price_drops,off_market_in_two_weeks,parent_metro_region,parent_metro_region_metro_code
0,2021-12-01,2021-12-31,2840,"Rusk County, TX",Texas,TX,All Residential,-1,172100.0,219950.0,...,2.0,12.0,3.0,25.0,0.915164,0.250000,0.416667,0.333333,"Longview, TX",30980.0
1,2014-09-01,2014-09-30,2220,"Noble County, OH",Ohio,OH,Single Family Residential,6,166500.0,125000.0,...,6.0,34.0,5.7,134.0,0.958793,0.000000,NaN,0.000000,Ohio nonmetropolitan area,NaN
2,2013-08-01,2013-08-31,3058,"Petersburg, VA",Virginia,VA,Multi-Family (2-4 Unit),4,20500.0,94500.0,...,1.0,10.0,5.0,295.0,0.854167,0.000000,NaN,0.000000,"Richmond, VA",40060.0
3,2016-03-01,2016-03-31,2254,"Bryan County, OK",Oklahoma,OK,Single Family Residential,6,87500.0,124720.0,...,26.0,92.0,3.2,107.0,0.954834,0.137931,NaN,0.083333,"Durant, OK",20460.0
4,2017-04-01,2017-04-30,472,"Leon County, FL",Florida,FL,Townhouse,13,109750.0,190000.0,...,64.0,213.0,4.1,70.0,0.982365,0.230769,NaN,0.050000,"Tallahassee, FL",45220.0

In [5]:
df = df.dropna()
df.head()

,period_begin,period_end,table_id,region,state,state_code,property_type,property_type_id,median_sale_price,median_list_price,...,new_listings,inventory,months_of_supply,median_dom,avg_sale_to_list,sold_above_list,price_drops,off_market_in_two_weeks,parent_metro_region,parent_metro_region_metro_code
0,2021-12-01,2021-12-31,2840,"Rusk County, TX",Texas,TX,All Residential,-1,172100.0,219950.0,...,2.0,12.0,3.0,25.0,0.915164,0.250000,0.416667,0.333333,"Longview, TX",30980.0
8,2017-06-01,2017-06-30,3219,"Sauk County, WI",Wisconsin,WI,Single Family Residential,6,179900.0,189900.0,...,109.0,353.0,4.2,84.0,0.968541,0.202381,0.232295,0.258621,"Baraboo, WI",12660.0
9,2021-03-01,2021-03-31,1898,"Gloucester County, NJ",New Jersey,NJ,Multi-Family (2-4 Unit),4,172500.0,239950.0,...,13.0,27.0,2.3,17.0,0.957683,0.166667,0.222222,0.600000,"Camden, NJ",15804.0
12,2017-10-01,2017-10-31,495,"Seminole County, FL",Florida,FL,Townhouse,13,194450.0,240000.0,...,110.0,140.0,1.5,18.0,0.972890,0.177083,0.235714,0.481928,"Orlando, FL",36740.0
14,2018-05-01,2018-05-31,602,"Meriwether County, GA",Georgia,GA,All Residential,-1,98750.0,155500.0,...,23.0,63.0,2.3,55.0,0.933320,0.178571,0.253968,0.352941,"Atlanta, GA",12060.0

In [6]:
df.count()

period_begin                      253364
period_end                        253364
table_id                          253364
region                            253364
state                             253364
state_code                        253364
property_type                     253364
property_type_id                  253364
median_sale_price                 253364
median_list_price                 253364
median_ppsf                       253364
median_list_ppsf                  253364
homes_sold                        253364
pending_sales                     253364
new_listings                      253364
inventory                         253364
months_of_supply                  253364
median_dom                        253364
avg_sale_to_list                  253364
sold_above_list                   253364
price_drops                       253364
off_market_in_two_weeks           253364
parent_metro_region               253364
parent_metro_region_metro_code    253364
dtype: int64

In [7]:
df.to_csv("redfin_county_data.csv", index=False, header=True)